<nav>
  <ul class='tabs'>
    {{#link-to 'articles.article.edit.summary' tagName='li'}}
      {{#link-to 'articles.article.edit.summary'}}Summary{{/link-to}}
    {{/link-to}}
    {{#link-to 'articles.article.edit.story' tagName='li'}}
      {{#link-to 'articles.article.edit.story'}}Story{{/link-to}}
    {{/link-to}}
    {{#link-to 'articles.article.edit.recipe' tagName='li'}}
      {{#link-to 'articles.article.edit.recipe'}}Recipe{{/link-to}}
    {{/link-to}}
    {{#link-to 'articles.article.edit.preview' tagName='li'}}
      {{#link-to 'articles.article.edit.preview'}}Preview{{/link-to}}
    {{/link-to}}
  </ul>
  <form class='persistence-buttons'>
    {{#if hasUnsavedChanges}}
      <button class='save-button' {{action 'save'}}>Save</button>
    {{else}}
      <span>Saved {{moment-from-now article.dateModified interval=10000}}.</span>
    {{/if}}
  </form>
</nav>

{{yield}}