@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';

@import 'components/article-editor';
@import 'components/article-viewer';

// // Theme 1
// //
// $primary-gray: #6f6d70;
// $primary-green: #828f62;
// $primary-red: #c25968;
// $primary-pink: #c57a82;
// $primary-beige: #c9c0b9;

// Theme 2
//
$primary-pink: #e2445a;
$primary-beige: #f9f5f1;
$primary-brown: #714826;

/* Navbar customizations
*/
.app-header {
  height: 44px;
  background-color: $primary-beige;

  nav {
    @extend .row;
    margin: 0;
  }

  .app-title {
    @extend .col-xs-6, .col-sm-8, .col-md-9, .col-lg-10;
    padding: 12px 0px 8px 10px;
    color: $primary-brown;
    font-family: 'Josefin Sans';
    font-size: 24px;
    line-height: 24px
  }

  .search {
    @extend .col-xs-6, .col-sm-4, .col-md-3, .col-lg-2;
    padding: 0;

    .input-group {
      padding: 5px 10px;
    }
  }
}

.article-editor {
  position: absolute;
  top: 44px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


