@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';

@import 'components/article-editor';
@import 'components/article-preview';
@import 'components/article-viewer';
@import 'components/image-reference';
@import 'components/json-editor';
@import 'components/recipe-editor';
@import 'components/recipe-viewer';
@import 'components/story-editor';
@import 'components/story-viewer';
@import 'components/text-editor';

// // Theme 1
// //
// $primary-gray: #6f6d70;
// $primary-green: #828f62;
// $primary-red: #c25968;
// $primary-pink: #c57a82;
// $primary-beige: #c9c0b9;

// // Theme 2
// //
// $primary-pink: #e2445a;
// $primary-beige: #f9f5f1;
// $primary-brown: #714826;

// Theme 3 (http://colrd.com/image-dna/24035/):
//
// $primary-pale: #FBEFC4;
// $primary-bold: #52696F;
// $primary-warm: #E57B7F;
// $primary-hot: #9E3150;
// $primary-cool: #88BAA4;

html {
  font-size: 18px;
  min-height: 100%
}

body {
  background: url('EightyFour.gif') repeat;
}

/* Navbar customizations
*/
.app-header {
  height: 44px;
  background-color: rgba(white, .9);
  border-bottom: 1px solid #888;
  position: relative;
  z-index: 1;

  &.fixed-header {
    position: fixed;
    top: 0;
  }

  nav {
    @extend .row;
    margin: 0;
  }

  .app-title {
    @extend .col-xs-6, .col-sm-8, .col-md-9, .col-lg-10;
    padding: 12px 0px 8px 10px;
    font-family: 'Josefin Sans';
    font-size: 24px;
    line-height: 24px;
  }

  .search {
    @extend .col-xs-6, .col-sm-4, .col-md-3, .col-lg-2;
    padding: 0;

    .input-group {
      padding: 5px 10px;
    }

    input {
      height: 33px;
    }
  }

  a, a:hover {
    text-decoration: none;
    color: #444;
  }
}

main {
  padding: 0 15px;

  &.fixed-header {
    padding: 44px 15px 0
  }
}

.article-list {
  @extend .container;
  list-style: none;
  background-color: white;
  box-shadow: 0 0 5px #888;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 970px;

  .article-preview {
    margin: 1rem 0;
    cursor: pointer;
  }
}

.article-editor {
  position: absolute;
  top: 44px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


