%tab-content {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-editor {

  .tabs {
    @extend .nav, .nav-tabs;
    padding: 9px 10px 0 10px;
  }

  .persistence-buttons {
    position: absolute;
    top: 8px;
    right: 10px;

    .save-button {
      @extend .btn, .btn-primary;
    }

    .discard-button {
      @extend .btn, .btn-default;
      margin-right: 5px;
    }
  }

  .metadata-editor {
    @extend %tab-content;

    form {
      @extend .container-fluid;
      padding: 15px;
    }

    label {
      @extend .col-xs-12;
      padding: 0;
    }

    input {
      @extend .form-control;
      margin: 10px 0;
      padding: 10px;
      font-weight: normal;
    }
  }

  .content-editor {
    @extend %tab-content;
    display: flex;
    flex-direction: row;

    .editor {
      width: 50%;
      height: 100%;
      display: flex;

      textarea {
        flex: 1;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
        outline: none;
        background-color: #333;
        color: #eee;
      }
    }

    .preview {
      width: 50%;
      height: 100%;
      overflow: scroll;
      display: flex;

      .article-viewer {
        flex: 1;
      }
    }
  }

  .recipe-editor {
    @extend %tab-content;
  }
}