%tab-content {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.article-editor {

  .tabs {
    @extend .nav, .nav-tabs;
    padding: 9px 10px 0 10px;
  }

  .persistence-buttons {
    position: absolute;
    top: 8px;
    right: 10px;

    span {
      display: inline-block;
      padding: 10px 0;
      color: #808080;
    }

    .save-button {
      @extend .btn, .btn-primary;
    }

    .discard-button {
      @extend .btn, .btn-default;
      margin-right: 5px;
    }
  }

  .metadata-editor {
    @extend %tab-content;

    form {
      @extend .container;
      padding: 15px;
    }

    label {
      @extend .col-xs-12;
      padding: 0;
    }

    input,
    textarea {
      @extend .form-control;
      margin: 10px 0;
      padding: 10px;
      font-weight: normal;
      font-family: 'Courier New', Courier, monospace;
      background-color: #333;
      color: #eee;
    }

    textarea {
      height: 5rem;
    }

    .article-preview {
      @extend .col-xs-12;
      margin: 10px 0;
    }
  }

  .content-editor {
    @extend %tab-content;
    display: flex;
    flex-direction: row;

    .editor {
      width: 50%;
      height: 100%;
      display: flex;

      textarea {
        flex: 1;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
        outline: none;
        background-color: #333;
        color: #eee;
      }
    }

    .preview {
      width: 50%;
      height: 100%;
      overflow: scroll;
      display: flex;

      .article-viewer {
        flex: 1;
      }
    }
  }

  .image-editor {
    @extend %tab-content;
    @extend .row;

    .file-picker {
      @extend .col-xs-12, .col-sm-6;

      .file-picker__dropzone {
        padding: 1rem;
        margin: 1rem;
        border: 1px dashed;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
      }
    }

    .image-list {
      @extend .col-xs-12, .col-sm-6;
      height: 100%;
      overflow: scroll;
    }

    .image-reference:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }
}